
<div class="grid grid-cols-[minmax(10px,280px)_1fr]">
  <div class="flex flex-col bg-(--mat-sys-inverse-on-surface) min-h-dvh border-r border-(--mat-sys-inverse-surface) p-5">
    <ul class="grow">
      @for (user of users(); track user.name) {
        <li>{{user.name}}</li>
      }
    </ul>


    <div>
      <button matIconButton="outlined" (click)="enableMicro.set(!enableMicro())">
        @if (enableMicro()) {
          <mat-icon>mic</mat-icon>
        } @else {
          <mat-icon>mic_off</mat-icon>
        }
      </button>

      <button matIconButton (click)="enableVideo.set(!enableVideo())">
        @if (enableVideo()) {
          <mat-icon>videocam</mat-icon>
        } @else {
          <mat-icon>videocam_off</mat-icon>
        }
      </button>
    </div>
  </div>

  <div class="px-5 py-2">

    <nav class="flex justify-end">
      <button matButton (click)="copyInviteLink()"> Invite </button>
    </nav>

    <app-my-video [audio]="enableMicro()" [video]="enableVideo()" />
  </div>
</div>
